button,
.btn {
    background-color: $lightGray;
    border: 1px solid $gray;
    font-weight: 600;
    min-width: 150px;

    &.round {
        border-radius: 50px;
    }

    &.red {
        background-color: $red;
        color: $white;
        border: 1px solid $red;
    }

    &.black {
        background-color: $black;
        color: $white;
        border: 1px solid $black;
    }
}
