a.btn {
    display: block;
    width: 100px;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

button,
.btn {
    background-color: $lightGray;
    border: 1px solid $gray;
    font-weight: 600;

    &.red {
        background-color: $red;
        color: $white;
        border: 1px solid $red;
    }

    &.black {
        background-color: $black;
        color: $white;
        border: 1px solid $black;
    }
}
