.hero {
    padding: 55px 20px;
    background-color: $heroBgColor;
    max-width: $containerWidth;
    margin-left: auto;
    margin-right: auto;
    color: $white;
    box-shadow: inset 0 0 0 1000px $heroOverlayColor;

    .hero-title, .hero-description {
        text-align: center;
        margin: 0;
        margin-bottom: 15px;
    }

    .hero-title {
        font-size: 2rem;
    }

    .hero-description {
        font-size: 1.2rem;
    }
}