.navbar {
    position: relative;

    nav {
        height: $navbarHeight;
        background-color: $navbarBgColor;
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;

        .container {
            flex-basis: $containerWidth;
            display: flex;
        }

        .menu-toggle {
            cursor: pointer;
            padding: 5px;
            color: $white;
            font-size: 2rem;
        }
    
        .menu {
            display: none;
            gap: 20px;
            list-style: none;
            padding: 0;
            margin: 0;

            a {
                color: $navbarLinkColor;
                text-decoration: none;

                &:hover,
                &.active {
                    text-decoration: underline;
                }
            }
        }
    }

    .menu-mobile {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: $navbarBgColor;
        position: absolute;
        left: 0; right: 0;
        top: $navbarHeight;
        padding: 0 10px;

        a {
            height: $navbarHeight;
            display: block;
            color: $navbarLinkColor;
            text-decoration: none;
        }
    }

    @media (min-width: 768px) {
        nav .menu-toggle {
            display: none;
        }

        nav .menu {
            display: flex;
            gap: 10px;
        }

        .menu-mobile {
            display: none;
        }
    }
}