.search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba($color: $white, $alpha: 0.8);
    padding: 10px;
    border-radius: 3px;
    color: $black;

    .row-1,
    .row-2 {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    @media (min-width: 768px) {
        .row-1 {
            flex-direction: row;
            justify-content: space-between;
        }
    
        .row-2 {
            flex-direction: row;
        }
        
        .row-1 > * {
            flex: 1;
        }
    }
}
