.listings-loader {
    display: flex;
    gap: 10px;
    flex-direction: column;

    .listing-loader-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: $listingItemMinHeight;
        border-radius: 3px;
        border: 1px solid $lightGray;

        background: $loaderBg;
        background-size: 250% 250%;
        animation: block-loading 1s ease infinite;
    }

    @media (min-width: 640px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto);
        gap: 15px;
    }
    
    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
    
    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
}