.posts-loader {
    display: flex;
    gap: 10px;
    flex-direction: column;

    .post-loader-item {
        .post-item-loader-image {
            width: 100%;
            height: $postItemImageHeight;
            border-radius: 3px;
            border: 1px solid $lightGray;
            margin-bottom: 20px;

            background: $loaderBg;
            background-size: 250% 250%;
            animation: block-loading 1s ease infinite;
        }
    }

    @media (min-width: 640px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto);
        gap: 10px;
        margin: 25px 0;
    }
    
    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
    
    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
}