.posts-loader {
    display: flex;
    gap: 10px;
    flex-direction: column;

    .post-loader-item {
        .post-item-loader-image {
            width: 100%;
            height: $postItemImageHeight;
            border-radius: 3px;
            border: 1px solid $lightGray;
            margin-bottom: 20px;

            background: linear-gradient(256deg, $gray, $lightGray);
            background-size: 250% 250%;
            animation: block-loading 1s ease infinite;
        }

        .post-item-loader-text-w100, 
        .post-item-loader-text-w80, 
        .post-item-loader-text-w60, 
        .post-item-loader-text-w40 {
            height: 10px;
            border-radius: 50px;
            border: 1px solid $lightGray;
            margin-bottom: 6px;

            background: linear-gradient(256deg, $gray, $lightGray);
            background-size: 250% 250%;
            animation: block-loading 1s ease infinite;
        }

        .post-item-loader-text-w100 {
            width: 100%;
        }

        .post-item-loader-text-w80 {
            width: 80%;
        }

        .post-item-loader-text-w60 {
            width: 60%;
        }

        .post-item-loader-text-w40 {
            width: 40%;
        }
    }

    @media (min-width: 640px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto);
        gap: 10px;
        margin: 25px 0;
    }
    
    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
    
    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
}